/* 基础设置 */
html,
body {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar
{
	width: 12px;
	height: 12px;
	background-color: #3a3a40;
}
::-webkit-scrollbar-track {
	background-color: #3a3a40;
}
::-webkit-scrollbar-thumb{
	background-color: #3a3a40;
  border-radius: 6px;
  border: 4px solid #3a3a40;
}
:hover::-webkit-scrollbar-thumb{
	background-color: #494949;
}
::-webkit-scrollbar-thumb:hover{
	background-color: #5a5a5a;
  border-width: 2px;
}


.container {
  position: relative;
}
/* 分类设置 */
.category-list{
  position: fixed;
  top: 20px;
  left: 20px;
  width: 160px;
}
.category-item {
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
  color: #aaa;
  font-size: 14px;
  cursor: pointer;
  transition: .15s;
}
.category-item:hover {
  color: #50505a
}
.category-item:active,
.category-item.active {
  color: #63aae3;
}
/* 右侧区域 */
.bookmark-container{
  padding: 30px 38px 80px 160px;
}
/* 分类卡片 */
.category-card {
  min-height: 200px;
  margin-bottom: 20px;
  background: #4a4a50;
  border-radius: 6px;
}
.category-title {
  padding: 12px 20px;
  border-bottom: 1px solid #54545a;
  line-height: 20px;
  color: #aaa
}
.category-body {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 20px 20px;
}

/* 链接 */
.bookmark {
  display: flex;
  width: 260px;
  padding: 15px 15px 15px 5px;
  border-radius: 4px;
  cursor: pointer;
}
.bookmark .icon {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 8px 10px;
  background: #666;
} 
.bookmark .title {
  margin-bottom: 5px;
  line-height: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #dedede;
}
.bookmark .desc {
  font-size: 13px;
  color: #aaa;
}
.bookmark:hover {
  background: #445;
}