.fade-slow-enter-active
  opacity 0
  transition opacity .8s ease-out
.fade-slow-enter-to
  opacity 1

.fade-slow-leave-active
  transition opacity .4s ease-in
  opacity 1
.fade-slow-leave-to
  opacity 0

.fade-fast-enter-active
  opacity 0
  transition opacity .4s ease-out
.fade-fast-enter-to
  opacity 1

.fade-fast-leave-active
  transition opacity .1s ease-out
  opacity 1
.fade-fast-leave-to
  opacity 0