.flip-enter-active
  opacity 0
  transform rotate3d(1, 1, 0, 60deg)
  transition opacity .3s ease-out, transform .15s ease-out
.flip-enter-to
  opacity 1
  transform rotate3d(1, 1, 0, 0)

.flip-leave-active
  transition opacity .15s ease-in, transform .1s ease-in
  opacity 1
  transform rotate3d(1, 1, 0, 0)
.flip-leave-to
  opacity 0
  transform rotate3d(1, 1, 0, 20deg)