.side-layer-enter-active
  opacity 0
  transform scale(0.9, 1) translateX(20px)
  transform-origin center right
  transition opacity .15s ease-out, transform .1s ease
.side-layer-enter-to
  opacity 1
  transform scale(1)

.side-layer-leave-active
  transition opacity .15s ease-in, transform .1s ease
  opacity 1
  transform scale(1)
  transform-origin center right
.side-layer-leave-to
  opacity 0
  transform scale(0.9, 1) translateX(20px)