.slidedown-enter-active
  opacity 0
  transform translateY(-5px)
  transition 0.1s ease-out
.slidedown-enter-to
  opacity 1
  transform translateY(0)

.slidedown-leave-active
  transition .1s ease-out
  opacity 1
  transform translateY(0)
.slidedown-leave-to
  transform translateY(-5px)
  opacity 0